{% extends 'base.html' %}
{% load static %}

{% block title %}
    Холодильник
{% endblock %}

{% block description %}
    Холодильник от FooDate даёт Вам возможность отслеживать сроки годности Ваших продуктов.
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/app/app.css' %}">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Ваши продукты</h3>
            </div>
            {% if user.is_guest %}
                <div class="col small text-danger text-center">
                    Войдите в аккаунт или зарегистрируйтесь, чтобы не потерять данные о продуктах.
                </div>
            {% endif %}
            <div class="col text-end" id="add-more-products-div"></div>
            <hr class="mb-0">
            <span class="text-secondary small">
                Для управления продуктом нажмите правую кнопку мыши
            </span>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div id="productsTimeLine" class="row justify-content-center pt-5">
                    <div class="spinner-border text-apple" role="status"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- New product card modal -->
    {% if user.is_authenticated %}
        <div class="modal fade" id="newProductModal"
             data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="newProductCardModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center mx-auto" id="newProductCardModalLabel">
                            Добавить продукт
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                style="margin-left: 0"
                                aria-label="Close"></button>
                    </div>
                    <form method="post" id="newProductCardForm" class="modal-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body mx-auto text-center w-75">
                            <div class="row">
                                <div class="col">
                                    Продукт
                                </div>
                                <div class="col">
                                    {{ form.product_card }}
                                </div>
                                {{ form.product_card.errors }}
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form.amount.label_tag }}
                                </div>
                                <div class="col d-flex align-center justify-content-center">
                                    {{ form.amount }}
                                    <span class="mx-2"></span>{{ form.amount_unit }}
                                </div>
                                {{ form.amount.errors }}
                                {{ form.amount_unit.errors }}
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form.production_date.label_tag }}
                                </div>
                                <div class="col d-flex justify-content-center">
                                    {{ form.production_date }}
                                </div>
                                {{ form.production_date.errors }}
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form.purchase_date.label_tag }}
                                </div>
                                <div class="col d-flex justify-content-center">
                                    {{ form.purchase_date }}
                                </div>
                                {{ form.purchase_date.errors }}
                            </div>
                            <div>
                                {{ form.captcha }}
                                {{ form.captcha.errors }}
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="submit" class="btn btn-apple">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- New product bad saving notification -->
        {% if saved == False %}
            <script>
                let newProductModal = new bootstrap.Modal(
                    document.getElementById('newProductModal'), {
                    keyboard: false
                });
                newProductModal.show()
            </script>
        {% endif %}
    {% endif %}
    <script type="text/babel" src="{% static 'js/app/app.js' %}"></script>

    {% if user.is_guest %}
        <!-- Guest cleanup -->
        <script language="JavaScript">
            window.onbeforeunload = function (e) {
                $.ajax({
                    url: '{% url 'clean-guests' %}'.split(':')[1],
                    type: 'POST',
                    headers: {
                        "X-CSRFToken": csrftoken,
                    },
                    mode: 'same-origin',
                });
            };
        </script>
    {% endif %}
{% endblock %}
