{% extends 'base.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block description %}
    FooDate - это не просто web-приложение, позволяющее Вам контролировать любые процессы,
    связанные с продуктами питания. Это возможность экономить и эффективнее использовать Ваше
    время на приготовление пищи.
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/app/homepage.css' %}">
    <div class="container-fluid">
        <a href="{% url 'home' host 'app' %}" class="row d-flex justify-content-center mt-4">
            <h1 id="company-title" class="text-apple w-auto py-3 px-5">FooDate</h1>
        </a>
        <div class="row mt-4">
            <h3 class="balsamiq text-apple text-center mt-2">
                Освобождаем от продуктовых забот
            </h3>
        </div>
        <div class="row justify-content-center mb-3">
            <hr class="text-apple text-center w-50">
        </div>
        <div class="row justify-content-center">
            <div class="row mt-3 row-cols-4 row-cols-md-4 g-4">
                <div class="col">
                    <a href="{% url 'app' host 'app' %}">
                        <div class="card"
                             title="Помогает отслеживать содержимое холодильника и следить за сроком годности продуктов">
                            <img src="{% static 'images/icons/fridge.png' %}"
                                 class="card-img-top p-2 mt-2"
                                 alt="Холодильник">
                            <div class="card-body">
                                <h5 class="card-text text-apple text-center balsamiq">
                                    Холодильник
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <div class="card"
                         title="Поможет составить постоянный самозаполняющийся список необходимых продуктов и всегда знать, что нужно купить">
                        <img src="{% static 'images/icons/products_list.png' %}"
                             class="card-img-top p-4 mt-2"
                             alt="Список продуктов">
                        <div class="card-body">
                            <h5 class="card-text text-apple text-center balsamiq">
                                Список продуктов
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <a href="{% url 'recipes' host 'book' %}">
                        <div class="card"
                             title="Предложит рецепты, исходя из содержимого холодильника">
                            <img src="{% static 'images/icons/recipe_book.png' %}"
                                 class="card-img-top p-4 mt-2"
                                 alt="Книга рецептов">
                            <div class="card-body">
                                <h5 class="card-text text-apple text-center balsamiq">
                                    Книга рецептов
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'products' host 'book' %}">
                        <div class="card"
                             title="Посчитает калорийность и питательность блюд">
                            <img src="{% static 'images/icons/calorie_calculator.png' %}"
                                 class="card-img-top p-2 mt-2"
                                 alt="Калькулятор калорийности">
                            <div class="card-body">
                                <h5 class="card-text text-apple text-center balsamiq">
                                    Калькулятор калорийности
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-2 row-cols-2 row-cols-md-2 g-4">
                <div class="col">
                    <a href="#">
                        <div class="card"
                             title="Больше не надо заказывать продукты или ходить в магазин. Система сама закажет необходимые ингредиенты.">
                            <div class="card-body">
                                <h5 class="card-text text-apple text-center balsamiq">
                                    Автоматический заказ и доставка продуктов
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="card"
                             title="Сгенерируем уникальный рацион на основе ваших вкусовых предпочтений">
                            <div class="card-body">
                                <h5 class="card-text text-apple text-center balsamiq">
                                    Умный рацион
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center my-5">
            <hr class="text-apple text-center">
        </div>
        <div class="row text-center text-apple justify-content-center">
            <h5 class="balsamiq text-secondary">Заинтересованы?</h5>
            <h3 class="balsamiq">Повлияйте на создание продукта!</h3>
            <p class="small text-secondary">
                После регистрации укажите в профиле, чем можете помочь проекту.
                Мы с Вами свяжемся.
            </p>
            <div class="row justify-content-center">
                <a href="{% url 'signup' host 'app' %}"
                   class="btn btn-apple w-auto px-4 py-2">
                    <h2 class="text-center balsamiq mb-0">
                        Зарегистрируйтесь
                    </h2>
                </a>
            </div>
            <p class="mt-2">или</p>
            <div class="row justify-content-center">
                <a href="https://forms.yandex.ru/u/637a5fb4d046888a679a35fd/"
                   class="btn btn-apple w-auto px-4 py-2">
                    <h3 class="text-center balsamiq mb-0">
                        Оставьте контакты
                    </h3>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
