{% load hosts %}
{% load static %}
<div class="container-fluid">
    <h2>Профиль</h2>
    <hr>
    <div class="row mx-auto my-5 text-center">
        <h4 class="mb-4">Личная информация</h4>

        <form method="post" class="mx-auto my-4"
              style="max-width: 500px">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-1"></div>
                <div class="col-3">
                    Email:
                </div>
                <div class="col-7 d-flex">
                    {{ form.email }}
                    {% if request.user.is_email_verified %}
                        <span data-toggle="tooltip" data-placement="top" title=""
                              data-bs-original-title="Email подтверждён">
                            <img src="{% static 'images/icons/tick.png' %}" class="email-icon"
                             alt="Email verified">
                        </span>
                    {% else %}
                        <a href="{% url 'email_verify' %}">
                            <span data-toggle="tooltip" data-placement="top" title=""
                                  data-bs-original-title="Подтвердить email">
                                <img src="{% static 'images/icons/cross.png' %}" class="email-icon"
                                     alt="Email unverified">
                            </span>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-1"></div>
                <div class="col-3">
                    {{ form.first_name.label_tag }}
                </div>
                <div class="col-7">
                    {{ form.first_name }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-1"></div>
                <div class="col-3">
                    {{ form.last_name.label_tag }}
                </div>
                <div class="col-7">
                    {{ form.last_name }}
                </div>
            </div>
            <div class="text-danger mb-3">
                {% for error in form.errors.values %}
                    {{ error }}
                {% endfor %}
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            </div>
            <input class="btn btn-outline-apple mx-auto mt-3 w-50" type="submit" value="Сохранить">
        </form>
        <div class="text-center">
            <a class="btn btn-outline-danger" href="/auth/password_change">Изменить пароль</a>
            <a class="btn btn-danger" href="/auth/logout">Выйти</a>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
