<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% block popup_title %}
                        Уведомление
                    {% endblock %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% block popup_body %}
                    <p>Текст уведомления</p>
                {% endblock %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-aqua" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>