#company-title {
    border: 1px solid #70c670;
    border-radius: 100px;
}

.card {
    height: 100%;
    margin: 0 5px 15px 5px;
}

@media screen and (max-width: 1600px) {
    .main {
        width: 100%
    }

    h4 {
        font-size: 14px;
    }
}

.card:hover {
    border: 1px solid #008500;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

h5 {
    font-size: calc(0.5rem + 1vw)
}