body {
    scroll-behavior: smooth;
}

main {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

td {
    vertical-align: middle;
}

tr > td:first-child {
    text-align: left;
}

a {
    text-decoration: none !important;
    color: black;
}

a:hover {
    color: #269926;
}

.text-apple {
  color: #008500;
}

a.text-apple:hover,
a.text-apple:focus {
  color: #269926;
}

.border-apple {
    border-color: #269926;
}

.btn-apple {
    color: #fff;
    background-color: #269926;
    border-color: #269926;
}

.btn-apple:hover {
    color: #fff;
    background-color: #008500;
    border-color: #008500;
}

.btn-outline-apple {
    color: #269926;
    border-color: #269926;
}

.btn-outline-apple:hover {
    color: #fff;
    background-color: #269926;
    border-color: #269926;
}

.btn-white {
    color: #1d7373;
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-white:hover {
    color: #1d7373;
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-white {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-white:hover {
    color: #1d7373;
    background-color: #ffffff;
    border-color: #ffffff;
}

.form {
    max-width: 50%;
}

.form-control:focus {
    border-color: #269926;
    box-shadow: none;
}

.btn:focus {
    box-shadow: none;
}

.form-check-input {
    border-color: #008500;
}

.form-check-input:checked {
    border-color: #008500;
    background-color: #008500;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-select:focus {
    border-color: #269926;
    box-shadow: none;
}

.page-link:focus {
    box-shadow: none;
    color: #008500;
}

ul.errorlist li {
    list-style-type: none;
    color: #dc3545;
    white-space: nowrap;
}

.modal-form > div > div.row {
    padding-bottom: 1rem;
    border-bottom: 1px dashed #70c670;
    margin-bottom: 1rem;
}

.modal-form div {
    align-self: center;
}

.modal-form input, .modal-form textarea {
    display: block;
    width: 100%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline-color: #269926;
}

.modal-form input[type=number] {
    width: 100px;
}

.modal-form span {
    align-self: center;
    margin-left: .3rem;
}

.modal-form select {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline-color: #269926;
}


.form label {
    margin-bottom: .5rem;
}