{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">

<header style="margin-top: 10px">
    <nav class="nav justify-content-center">
        <a class="navbar-brand" href="/">
          <img id="logo" src="{% static 'images/fav/android-chrome-512x512.png' %}"
               alt="Logo" loading="lazy">
        </a>
        <a class="nav-link" href="/">Главная</a>
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <a class="nav-link" href="/admin">Панель администрирования</a>
            {% endif %}

            <a class="nav-link" href="/auth/profile">Мой профиль</a>
            <a class="nav-link" href="/auth/logout">Выйти</a>
        {% else %}
            <a class="nav-link" href="/auth/login">Вход</a>
            <a class="nav-link" href="/auth/signup">Регистрация</a>
        {% endif %}
    </nav>
    <hr>
</header>