{% extends "base.html" %}

{% block content %}

    <h4 class="mb-4">Смена пароля</h4>

    <form method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-4">
                {{ form.old_password.label_tag }}
            </div>
            <div class="col-8">
                {{ form.old_password }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4">
                {{ form.new_password1.label_tag }}
            </div>
            <div class="col-8">
                {{ form.new_password1 }}
            </div>
            {% if form.new_password1.help_text %}
                <div class="help text-secondary">{{ form.new_password1.help_text|safe }}</div>
            {% endif %}
        </div>
        <div class="row mb-3">
            <div class="col-4">
                {{ form.new_password2.label_tag }}
            </div>
            <div class="col-8">
                {{ form.new_password2 }}
            </div>
            {% if form.new_password2.help_text %}
                <div class="help text-secondary">{{ form.new_password2.help_text|safe }}</div>
            {% endif %}
        </div>
        <div class="text-danger">
            {% for error in form.errors.values %}
                {{ error }}
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-outline-apple">Сменить пароль</button>
    </form>

{% endblock %}