<p>
    Вы получили это письмо, потому что Вы (или кто-то другой) запросили восстановление пароля от
    учётной записи на сайте {{ site_name }}, которая связана с этим адресом электронной почты.
</p>

<p>Пожалуйста, перейдите на эту страницу и введите новый пароль:</p>
{% block reset_link %}
    {% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
<br>
<p>Ваше имя пользователя (на случай, если вы его забыли): {{ user.get_username }}</p>

<p>Спасибо за использование нашего сайта!</p>
