{% extends "base.html" %}

{% block content %}

    {% if validlink %}
        <div class="mt-5 mx-auto text-center form">
            <h3 class="mb-5">Смена пароля</h3>
            <p>Введите новый пароль:</p>
            <form action="" method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col"></div>
                    <div class="col-4">
                        <label for="id_new_password1">Новый пароль:</label>
                    </div>
                    <div class="col-7">
                        {{ form.new_password1 }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col"></div>
                    <div class="col-4">
                        <label for="id_new_password2">Повторите пароль:</label>
                    </div>
                    <div class="col-7">
                        {{ form.new_password2 }}
                    </div>
                </div>
                {% if form.errors %}
                    <div class="row mb-3">
                        <p class="text-danger">Введенные пароли не совпадают.</p>
                    </div>
                {% endif %}
                <input class="btn btn-apple mx-auto" type="submit" value="Изменить пароль"/>
            </form>
        </div>
    {% else %}
        <div class="mx-auto mt-5 pt-5 text-center w-75">
            <h5>Смена пароля не выполнена</h5>
            <p class="small">
                Ссылка на смену пароля уже была использована. Повторите сброс пароля.
            </p>
        </div>
    {% endif %}

{% endblock %}
