{% extends 'base.html' %}
{% load hosts %}
{% load static %}
{% load user_agents %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/users/signup.css' %}">
    {% if request|is_mobile or request|is_tablet %}
        {% include 'users/mobile/signup.html' %}
    {% else %}
        {% include 'users/pc/signup.html' %}
    {% endif %}
    <p class="mx-auto text-center small text-secondary w-75">
        Мы не хотим мучить Вас требованиями к паролю. Просто постарайтесь сделать его сложным,
        от этого зависит безопасность Вашего аккаунта.
    </p>
{% endblock %}
