<div class="container-fluid">
    <h4 class="text-center mt-3">Смена пароля</h4>
    <hr>
    <form method="post" class="form-control text-center">
        {% csrf_token %}
        <div class="row mb-3">
            <div>
                {{ form.old_password.label_tag }}
                {{ form.old_password }}
            </div>
        </div>
        <div class="row mb-3">
            <div>
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
            </div>
            {% if form.new_password1.help_text %}
                <div class="help text-secondary small">{{ form.new_password1.help_text|safe }}</div>
            {% endif %}
        </div>
        <div class="row mb-3">
            <div>
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
            </div>
            {% if form.new_password2.help_text %}
                <div class="help text-secondary small">{{ form.new_password2.help_text|safe }}</div>
            {% endif %}
        </div>
        <div class="text-danger">
            {% for error in form.errors.values %}
                {{ error }}
            {% endfor %}
        </div>
        <div class="row mb-3">
            <button type="submit" class="btn btn-outline-apple">Сменить пароль</button>
        </div>
    </form>
</div>
