<div>
    <h4 class="text-center mt-3">Профиль</h4>
    <hr>
    <div class="mx-auto my-4 text-center d-flex flex-column align-items-center">

        <form method="post" class="mb-4 d-flex flex-column align-items-center w-75">
            {% csrf_token %}
            <div class="mb-3">
                <div>Email:</div>
                {{ form.email }}
            </div>
            <div class="mb-3">
                <div>{{ form.first_name.label_tag }}</div>
                {{ form.first_name }}
            </div>
            <div class="mb-3">
                <div>{{ form.last_name.label_tag }}</div>
                {{ form.last_name }}
            </div>
            <div class="text-danger">
                {% for error in form.errors.values %}
                    {{ error }}
                {% endfor %}
            </div>
            <div class="mb-3">
                <input class="btn btn-outline-apple mx-auto mt-5" type="submit"
                       value="Сохранить">
            </div>
            <div class="row g-2" style="max-width: fit-content">
                <div class="col">
                    <a class="btn btn-outline-danger mb-1 mx-auto text-nowrap"
                       href="/auth/password_change">
                        Изменить пароль
                    </a>
                </div>
                <div class="col">
                    <a class="btn btn-danger mx-auto"
                       href="/auth/logout">
                        Выйти
                    </a>
                </div>
            </div>
        </form>

    </div>
</div>