{% load static %}


<div>
    <div style="position: sticky; top: 0; height: 45px; max-height: 45px; background-color: white;
        z-index: 99;">
        <h4 class="text-center h-100 m-0 pt-1">Профиль</h4>
        <hr class="m-0 text-apple">
    </div>

    <div class="col mx-auto my-4 d-flex flex-column align-items-center">
        <form method="post" class="mb-4 d-flex flex-column align-items-center">
            {% csrf_token %}
            <table class="table table-borderless">
                <tr>
                    <td>
                        Email:
                    </td>
                    <td class="d-flex">
                        {{ form.email }}
                        {% if request.user.is_email_verified %}
                            <span data-toggle="tooltip" data-placement="top" title=""
                                  data-bs-original-title="Email подтверждён">
                                <img src="{% static 'images/icons/tick.png' %}" class="email-icon"
                                 alt="Email verified">
                            </span>
                        {% else %}
                            <a href="{% url 'email_verify' %}">
                                <span data-toggle="tooltip" data-placement="top" title=""
                                      data-bs-original-title="Подтвердить email">
                                    <img src="{% static 'images/icons/cross.png' %}" class="email-icon"
                                         alt="Email unverified">
                                </span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.first_name.label_tag }}
                    </td>
                    <td>
                        {{ form.first_name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.last_name.label_tag }}
                    </td>
                    <td>
                        {{ form.last_name }}
                    </td>
                </tr>
            </table>
            <div class="text-danger">
                {% for error in form.errors.values %}
                    {{ error }}
                {% endfor %}
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            </div>
            <div class="mb-3">
                <input class="btn btn-outline-apple mx-auto mt-5" type="submit"
                       value="Сохранить">
            </div>
            <div class="row g-2" style="max-width: fit-content">
                <div class="col">
                    <a class="btn btn-outline-danger mb-1 mx-auto text-nowrap"
                       href="/auth/password_change">
                        Изменить пароль
                    </a>
                </div>
                <div class="col">
                    <a class="btn btn-danger mx-auto"
                       href="/auth/logout">
                        Выйти
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
