{% extends 'base.html' %}
{% load user_agents %}
{% load static %}

{% block title %}
    Доступ запрещён
{% endblock %}

{% block content %}
    <div class="d-flex flex-column justify-content-center text-center mt-5">
        <h4 class="text-apple">Доступ запрещён</h4>
        <p class="text-secondary small">Ошибка 403</p>
        <img src="{% static 'images/error_pages/forbidden.png' %}"
             class="mx-auto my-auto mt-5
            {% if request|is_pc %}
                w-25
            {% else %}
                w-75
            {% endif %}"
             alt="403 Forbidden">
    </div>
{% endblock %}