{% extends 'base.html' %}
{% load user_agents %}
{% load static %}

{% block title %}
    Внутренняя ошибка сервера
{% endblock %}

{% block content %}
    <div class="d-flex flex-column justify-content-center text-center mt-5">
        <h4 class="text-apple">Внутренняя ошибка сервера</h4>
        <p class="text-secondary small">Ошибка 500</p>
        <img src="{% static 'images/error_pages/internal-server-error.png' %}"
             class="mx-auto my-auto mt-5
            {% if request|is_pc %}
                w-25
            {% else %}
                w-75
            {% endif %}"
             alt="404 Not Found">
    </div>
{% endblock %}